<configuration>

  <!-- Console appender configuration -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%cyan(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Logger configuration -->
  <logger name="com.example" level="INFO"/>

  <!-- Root logger configuration -->
  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
